<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Best Burgers in town!</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css\style.css">
    </head>
    <body>
      <main>
        <h1>
          Welcome to BürgerOnline!
        </h1>
        <section id="burgerselection">
          <section id="selectionheader">
            <h2>
              Burger selection:
            </h2>
            <p>
              Here you can choose which burger you want...
            </p>
          </section>
          <table>
            <thead>
              <tr>
                <th>Bacon Burger Deluxe</th>
                <th>Crispy Chicken Burger </th>
                <th>Vegan Excitement Burger</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="https://live.staticflickr.com/4126/4984075705_c83583e4ed_b.jpg" alt="Bacon Burger Deluxe" title="Bacon Burger" width=300></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRolqBQKNktIxmDdI166YOF-bOgTSoCH2In9zvM4XVnughdWpEC&s" alt="Crispy Chicken Burger" title="Chicken Burger" width=300></td>
                <td><img src="https://live.staticflickr.com/65535/32789207957_06d155b6f9_b.jpg" alt="Vegan Excitement Burger" title="Vegan Burger" width=300></td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>One of our tastiest ones!</li>
                    <li>Contains 750 kCal</li>
                    <li>Contains <span class="allergenes">gluten</span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>One of our crispiest ones!</li>
                    <li>Contains 550 kCal</li>
                    <li>Contains <span class="allergenes">gluten</span> and <span class="allergenes">lactose</span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>One of our healthiest ones ones!</li>
                    <li>Contains 600 kCal</li>
                    <li><span class="allergenes">Free from</span> allergenes</li>
                  </ul>
                </td>
              </tr>
            </tbody>

          </table>
        </section>
        <section id="provideinfo">
          <h2>
            Customer information:
          </h2>
          <p>
              Type in the information for your delivery.
          </p>
          <section id="customerinfo">
            <form>
              <p>
                <label for="fullname">Your name</label><br>
                <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Lastname">
              </p>
              <p>
                <label for="emailadress">Email</label><br>
                <input type="email" id="emailadress" name="email" required="required" placeholder="E-mail adress">
              </p>
              <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="str" required="required" placeholder="Street name">
              </p>
              <p>
                <label for="houseno"> House number</label><br>
                <input type="number" id="houseno" name="hno" required="required" placeholder="House number">
              </p>
              <p>
                <label for="payment">Payment method</label><br>
                <select id="payment" name="paym" >
                    <option selected="selected">PayPal</option>
                    <option>Credit Card</option>
                    <option>Klarna</option>
                    <option>Swish</option>
                    <option>Cash</option>
                </select>
              </p>
              <p>
                <label for="male">Male</label>
                <input type="radio" id="male" value="male" name="gender" required="required"><br>
                <label for="female">Female</label>
                <input type="radio" id="female" value="female" name="gender" required="required"><br>
                <label for="male">Do not wish to provide</label>
                <input type="radio" id="noinfo" value="noinfo" name="gender" required="required" checked="checked"><br>
              </p>
            </form>
            <button type="submit"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/768px-Flat_tick_icon.svg.png" width=20> Press here to finish order!</button>
          </section>
        </section>
      </main>
        <hr>
        <footer>
          &copy by Florian Bürger 2019
        </footer>
    </body>
</html>
