<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Best Burgers in town!</title>
        <meta charset="utf-8"/>
      <!--<link rel="stylesheet" type="text/css" href="css\reset.css">-->
        <link rel="stylesheet" type="text/css" href="css\style.css">
        <link rel="stylesheet" type="text/css" href="css/deli-very.css">
        <script src="/socket.io/socket.io.js" defer></script>
        <!--   <script src="js/deli-very.js" defer></script> -->
        <script src="js/vue.js"></script>
      <!--  <script src="js/js_script.js" defer></script>-->
        <script src="js/vue_script.js" defer></script>
    </head>
    <body>
      <main>
        <section id="homepageheader">
          <h1>
            Welcome to BürgerOnline!
          </h1>
          <img src="img/flames.jpg" alt="Burger patty on open flame" title="Burger grill">
        </section>
        <section id="burgerselection">
          <section id="selectionheader">
            <h2>
              Burger selection:
            </h2>
            <p>
              Here you can choose which burger you want...
            </p>
          </section>
            <!--
            <div class="burgerl">
                <p class="burgerheader">Bacon Burger Deluxe</p>
                <img src="https://live.staticflickr.com/4126/4984075705_c83583e4ed_b.jpg" alt="Bacon Burger Deluxe" title="Bacon Burger" width=300>
                <ul class="burgerdetails">
                  <li>One of our tastiest ones!</li>
                  <li>Contains 750 kCal</li>
                  <li>Contains <span class="allergenes">gluten</span></li>
                </ul>
            </div>
            -->
            <div id="showmenu" class="wrapperburger">
                <div class="singleburger" v-for="burger in menuList">
                  <p class="burgerheader">{{burger.name}}</p>
                  <img :src="burger.imgURL" width=250>
                  <ul class="burgerdetails">
                    <li>One of our crispiest ones!</li>
                    <li >{{burger.kcalInfo}}</li>
                    <li >{{burger.allergInfo()}}</li>
                  </ul>
                  <input class="burgercheck" type="checkbox" name="burgerlist" :value="burger.name">Add {{burger.name}} to my order!<br>
                </div>
            </div>
            <!--
            <div class="burgerr">
                <p class="burgerheader">Vegan Excitement Burger</p>
                <img src="https://live.staticflickr.com/65535/32789207957_06d155b6f9_b.jpg" alt="Vegan Excitement Burger" title="Vegan Burger" width=300>
                <ul class="burgerdetails">
                  <li>One of our healthiest ones ones!</li>
                  <li>Contains 600 kCal</li>
                  <li><span class="allergenes">Free from</span> allergenes</li>
                </ul>
            </div>
          -->
        </section>
        <section id="provideinfo">
          <h2>
            Customer information:
          </h2>
          <p>
              Type in the information for your delivery.
          </p>
          <section id="customerinfo">
            <form>
              <p>
                <label for="fullname">Your name</label><br>
                <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Lastname">
              </p>
              <p>
                <label for="emailadress">Email</label><br>
                <input type="email" id="emailadress" name="email" required="required" placeholder="E-mail adress">
              </p>
              <p>
                <label for="payment">Payment method</label><br>
                <select id="payment" name="paym" >
                    <option selected="selected">PayPal</option>
                    <option>Credit Card</option>
                    <option>Klarna</option>
                    <option>Swish</option>
                    <option>Cash</option>
                </select>
              </p>
              <form id="genderselect">
                <label for="male">Male</label>
                <input type="radio" id="male" value="male" name="gender" required="required"><br>
                <label for="female">Female</label>
                <input type="radio" id="female" value="female" name="gender" required="required"><br>
                <label for="male">Do not wish to provide</label>
                <input type="radio" id="noinfo" value="noinfo" name="gender" required="required" checked="checked"><br>
              </form>
            </form>
            <h1> Click in the map on your delivery location! </h1>
            <div class="view-box">
              <div id="dots" v-on:click="displayOrder">
                  <div
                    v-bind:style="{ left: location.x + 'px', top: location.y + 'px'}">
                    T
                  </div>
              </div>
            </div>
            <button id="submit" type="submit" v-on:click="markDone(); addOrder()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/768px-Flat_tick_icon.svg.png" width=20> Press here to finish order!</button>
          </section>
        </section>
        <section id="orderdetails">
            <div id="showinfo" v-if>
              <h2>Order Details:</h2>

             Name:  {{currDetails.name}}
             Burger: {{currDetails.burgers}}

            </div>
        </section>
      </main>
        <hr>
        <footer>
          &copy by Florian Bürger 2019
        </footer>
    </body>
</html>
