<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Best Burgers in town!</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
        <h1>
          Welcome to BürgerOnline!
        </h1>
        <section>
          <h2>
            Burger selection:
          </h2>
          <p>
            Here you can choose which burger you want...
          </p>
          <h3>
            Bacon Burger Deluxe
          </h3>
          <img src="https://live.staticflickr.com/4126/4984075705_c83583e4ed_b.jpg" alt="Bacon Burger Deluxe" title="Bacon Burger" width=300>
        </section>
        <section>
          <h2>
            Customer information:
          </h2>
          <p>
              Type in the information for your delivery.
          </p>
        </section>
      </main>
        <hr>
        <footer>
          &copy by Florian Bürger
        </footer>
    </body>
</html>
